body {
  width: 5em;
}

.center {
  text-align: center;
}

#zoom-buttons {
  padding-bottom: 3em;
}

#zoom-in {
  text-align: center;
  float: left;
  display:inline-block;
  width: 2.5em;
  height: 2.5em;
  padding: 0px;
}

#zoom-out {
  text-align: center;
  float: right;
  display:inline-block;
  width: 2.5em;
  height: 2.5em;
  padding: 0px;
}

#reset {
  display: block;
  text-align: center;
  font-weight: bold;
  width: 100%;
  bottom: 0;
}
